@media (max-width: 600px) {a
    .products{
        display: inherit;
        height: auto;
    }
    .product{
        margin-top: auto;
        padding: 1%;
    }
    .main_section{
        padding: 5%;
    }
    .story, 
    .comment-content{
        display: inherit;
    }
    
    }
    .comment-box{
        width: auto;
    }

    .image-content{
        width: auto;
    }
}
